.gbubble{
	margin:0;
	padding:0;
	text-align:center;
}

 .dbdemostr{
 	padding-top:10px;
 	padding-right:2em;
 	padding-left:2em;
 	padding-bottom:0px;
 }

 .encabezadografica{
 		margin-top:2em;
 		margin-bottom:1.5em;
 }
 